* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header-height: 53px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 250;
  text-transform: uppercase;
  padding: 2rem 0;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
          box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}
.header .header__logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #3cb878;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.header .header__menu a {
  display: block;
  color: #3f4853;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.header .header__menu a:hover {
  color: #3cb878;
}
.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 3rem;
}
.header .header__list .menu-icon {
  cursor: pointer;
}
.header .header__list-items {
  cursor: pointer;
  position: relative;
}
.header .header__list-items:first-child::after {
  content: "3";
  position: absolute;
  top: -8px;
  right: -13px;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #3cb878;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .header__menu {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.content {
  position: relative;
}
.content img {
  width: 100%;
}
.content__title {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content__title span {
  color: #3cb878;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
}
.product__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
}
.product__content h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product__content p:first-of-type {
  color: #3cb878;
  font-size: 1.4rem;
  font-style: italic;
}
.product__content p:last-of-type {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2rem;
}
.product__items {
  position: relative;
}
.product__items img {
  width: 100%;
  cursor: pointer;
}
.product__items:hover .product__items-hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.product__items h3 {
  color: #333333;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
}
.product__items p {
  color: #3cb878;
  font-size: 1.8rem;
}
.product__items-hover {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.offer {
  text-align: center;
}
.offer__icons {
  padding: 4rem 0;
  background-color: #f5f6f9;
}
.offer__icons img {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.offer__icons h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
.offer__icons p {
  font-size: 1.3rem;
  color: #888888;
}

.fashion img {
  display: block;
  width: 100%;
}

.feature__title {
  margin: 5rem 0;
  text-align: center;
}
.feature__title h2 {
  color: #333333;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.feature__title p {
  color: #3cb878;
  font-size: 1.4rem;
  font-style: italic;
}
.feature__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  gap: 3rem;
}
.feature__items img {
  width: 100%;
}
.feature__items h3 {
  color: #333333;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.feature__items p {
  color: #3cb878;
  font-size: 1.8rem;
}

.footer {
  background-color: #f5f6f9;
  margin-top: 10rem;
  text-align: center;
}
.footer__left {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/Footer/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__left h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.footer__left p {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
}
.footer__left-contact {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.footer__left-contact input {
  padding: 1rem 10rem 1rem 1rem;
}
.footer__left-contact button {
  color: #fff;
  margin-left: 1rem;
  font-size: 1.4rem;
  background-color: #3cb878;
  text-transform: uppercase;
}
.footer__right {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.footer__right img {
  width: auto;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #616161;
  padding: 3rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #000000;
}
.footer__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
  cursor: pointer;
}
.footer__bottom-right img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1500px) {
  .product {
    display: block;
  }
  .product__content {
    text-align: center;
    margin: 5rem 0;
  }
  .product__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 2rem;
  }
  .product__items h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    padding: 2rem 0;
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product__items-hover {
    width: 15%;
  }
  .feature__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .feature__items img {
    display: block;
    width: 100%;
  }
  .feature__items h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    padding: 1rem 0;
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .feature__items p {
    font-style: 1.3rem;
  }
}
/* Mobile and Tablet (width < 1024px)*/
@media only screen and (max-width: 63.9375em) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: absolute;
    top: 5.5rem;
    padding: 0 3rem;
    left: -12rem;
    z-index: 1;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: #fff;
  }
  .header__menu a {
    margin-left: 12px;
  }
  .header__menu li {
    margin-bottom: 10px;
  }
  .menu-icon {
    display: block;
    color: #151418;
    cursor: pointer;
  }
  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__bottom-left, .footer__bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .content__title {
    font-size: 4rem;
  }
}
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .header__menu {
    left: -14rem;
  }
  .content__title {
    font-size: 2.5rem;
  }
  .feature__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}