* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --header-height: 53px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 250;
  text-transform: uppercase;
  padding: 2rem 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: var(--header-height);
}
.header .logo {
  color: #3cb878;
  font-size: 2.4rem;
  font-weight: bold;
}
.header .menu .drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--header-height);
}
.header .menu .drawer a {
  text-transform: capitalize;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  color: #585b63;
  font-size: 17.4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.header .menu .drawer a:hover {
  color: #3cb878;
}
.header .menu .drawer a:active {
  background: #e0e0e0;
}
.header .header-list .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  list-style: none;
  margin-bottom: 0;
  cursor: pointer;
}
.header .header-list .icon-list .icon-items {
  position: relative;
}
.header .header-list .icon-list .icon-items:first-child::after {
  content: "3";
  position: absolute;
  top: -9px;
  right: -13px;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: block;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #3cb878;
}

.menu-btn,
.close-btn {
  background: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  font-size: 2rem;
  left: 11px;
  top: 8px;
  display: none;
  cursor: pointer;
}

.menu-btn {
  left: 3px;
}

.close-btn:active,
.menu-btn:active {
  background: #f3f3f3;
}

.img {
  height: calc(100vh - 53px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.content {
  position: relative;
}
.content img {
  width: 100%;
}
.content__title {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content__title span {
  color: #3cb878;
}

.product {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
}
.product__content {
  grid-column: 1/span 2;
}
.product__content h2 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.product__content p:first-of-type {
  color: #3cb878;
  font-size: 1.4rem;
  font-style: italic;
}
.product__content p:last-of-type {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2rem;
}
.product__items {
  position: relative;
}
.product__items img {
  cursor: pointer;
}
.product__items:hover .product__items-hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.product__items h3 {
  color: #333333;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
}
.product__items p {
  color: #3cb878;
  font-size: 1.8rem;
}
.product__items-hover {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.offer {
  text-align: center;
}
.offer__icons {
  padding: 4rem 0;
  background-color: #f5f6f9;
}
.offer__icons img {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.offer__icons h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
.offer__icons p {
  font-size: 1.3rem;
  color: #888888;
}

.fashion img {
  width: 100%;
}

.feature {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}
.feature__title {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: center;
  grid-column: 1/span 5;
}
.feature__title h2 {
  color: #333333;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.feature__title p {
  color: #3cb878;
  font-size: 1.4rem;
  font-style: italic;
}
.feature__items h3 {
  color: #333333;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.feature__items p {
  color: #3cb878;
  font-size: 1.8rem;
}

.footer {
  background-color: #f5f6f9;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url("../img/Footer/slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__left h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.footer__left p {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
}
.footer__left-contact {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left-contact input {
  padding: 1rem 10rem 1rem 1rem;
}
.footer__left-contact button {
  padding: 0 3rem;
  color: #fff;
  margin-left: 1rem;
  font-size: 1.4rem;
  background-color: #3cb878;
  text-transform: uppercase;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #616161;
  padding: 3rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #000000;
}
.footer__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.footer__bottom-right img:hover {
  opacity: 0.8;
}

@media (max-width: 1140px) {
  .header .menu .drawer {
    padding: 0;
  }
}
@media (max-width: 920px) {
  .header-list {
    display: none;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: -925px;
    width: 100%;
    height: 100%;
    z-index: 300;
  }
  .header .menu .blank {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header .menu .drawer {
    -webkit-box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
    padding-top: 50px;
    height: 100%;
    width: 225px;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: -240px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    overflow: auto;
  }
  .header .menu .drawer a {
    padding: 20px;
  }
  .menu-btn,
  .close-btn {
    display: block;
  }
  .header .logo {
    margin-left: 17px;
  }
  .drawer-visible {
    left: 0 !important;
  }
  .blur {
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    left: 0 !important;
  }
}